# tmux plugin manager
.config/tmux/.config/tmux/plugins/
.config/tmux/.config/tmux/tpm/

# color files
.config/wlogout/.config/wlogout/colors.css
.config/waypaper/.config/waypaper/config.ini
.config/rofi/.config/rofi/colors.rasi
.config/kitty/.config/kitty/colors.conf
.config/hypr/.config/hypr/colors.conf
.config/shell/colors.scss
.config/wezterm/.config/wezterm/colors.lua
.config/quickshell/.config/quickshell/colors.json
.config/qt6ct/.config/qt6ct/colors/matugen.conf
.config/ghostty/.config/ghostty/colors
.config/yazi/.config/yazi/theme.toml
.config/zellij/.config/zellij/themes/matugen.kdl
.config/niri/.config/niri/niri-colors.kdl

# fish
.config/fish/.config/fish/completions/fisher.fish
.config/fish/.config/fish/functions/fisher.fish
.config/fish/.config/fish/functions/__fzfcmd.fish
.config/fish/.config/fish/functions/__fzf*
.config/fish/.config/fish/conf.d/fzf.fish
.config/fish/.config/fish/fish_variables*
.config/fish/.config/fish/conf.d/rustup.fish
.config/quickshell/.config/quickshell/config.json
.config/quickshell/.config/quickshell/config.json
