include "keybinds.kdl"
include "layout.kdl"
include "rules.kdl"
include "outputs.kdl"
include "environment.kdl"
include "input.kdl"
include "autostart.kdl"
// dms
include "dms/binds.kdl"
include "dms/windowrules.kdl"
include "dms/colors.kdl"

overview {
    zoom 0.4
    workspace-shadow {
        off
    }
}

recent-windows {
    highlight {
        corner-radius 24
    }
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
}

hotkey-overlay {
    skip-at-startup
}

blur {
    passes 3
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
