include "keybinds.kdl"
include "layout.kdl"
include "rules.kdl"
include "outputs.kdl"
include "environment.kdl"
include "input.kdl"
include "autostart.kdl"
include "niri-colors.kdl"

overview {
    zoom 0.4
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
