include "keybinds.kdl"
include "layout.kdl"
include "rules.kdl"
include "outputs.kdl"
include "environment.kdl"
include "input.kdl"
include "autostart.kdl"
include "gestures.kdl"
include optional=true "niri-colors.kdl"

overview {
    zoom 0.4
    workspace-shadow {
        off
    }
}

recent-windows {
    highlight {
        corner-radius 24
    }
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

hotkey-overlay {
    skip-at-startup
}

blur {
    on
    passes 2
    saturation 2
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
