layout {
    gaps 8;

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "on-overflow"

    default-column-width { proportion 0.5; }

    preset-column-widths {
        proportion 0.33
        proportion 0.5
        proportion 0.75
    }

    preset-window-heights {
        proportion 0.33
        proportion 0.5
        proportion 1.0
    }

    focus-ring {
        off
        width 0
    }

    border {
        on
        width 1
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
        // right 8
        // left 8
    }
}
