window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id="pavucontrol"
    match app-id="com.network.manager"
    match app-id="blueman-manager"
    match title="chroma-settings"
    match title="chroma-test"
    match app-id="org.gnome.NautilusPreviewer"
    match app-id="org.gnome.Loupe"
    match app-id="com.github.wwmm.easyeffects"
    open-floating true
    default-column-width { fixed 1200; }
    default-window-height { fixed 800; }
}

window-rule {
    match title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="zen"
    open-maximized true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id="org.telegram.desktop"

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

window-rule {
    match is-active=false
    opacity 0.97
}

// layer-rule {
//     match namespace="chroma:background"
//     place-within-backdrop true
// }
