window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id="pavucontrol"
    match app-id="com.network.manager"
    match app-id="blueman-manager"
    match title="chroma-settings"
    open-floating true
    default-column-width { fixed 1200; }
    default-window-height { fixed 800; }
}

window-rule {
    match title="^Picture-in-Picture$"
    open-floating true
    min-width 100
    max-width 200
    min-height 300
    max-height 300
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id="org.telegram.desktop"

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

