@use "../colors" as *;

$radius: 20px;
$padding: 6px;
$_margin: 99px;
$border-width: 0px;
$_radius: $radius + $padding;

window.screen-corner {
  box.shadow {
    margin-right: $_margin * -1;
    margin-left: $_margin * -1;
  }

  &.top {
    box.shadow {
      margin-bottom: $_margin * -1;
      margin-top: 0;
    }
  }

  &.bottom {
    box.shadow {
      margin-top: $_margin * -1;
      margin-bottom: 0;
    }
  }

  box.border {
    margin-right: $_margin;
    margin-left: $_margin;
    border-radius: if($radius > 0, $_radius, 0);
    box-shadow: 0 0 0 $_radius $color-background;
  }

  box.corner {
    box-shadow: 0 0 0 $border-width $color-background;
    border-radius: if($radius > 0, $_radius, 0);
  }
}
