[user]
    name = anatolij1923
    email = kostyahaustow@gmail.com

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    st = status

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    hyperlinks = true 
    syntax-theme = Monokai Extended
    
    file-decoration-style = none
    hunk-header-decoration-style = none
    hunk-header-style = syntax bold italic

    minus-style = syntax "#3f221d"
    plus-style = syntax "#253921"
    minus-emph-style = bold red "#60312d"
    plus-emph-style = bold green "#3d5236"

    features = fancy

[delta "fancy"]
    side-by-side = true
    line-numbers = true
    line-numbers-left-format = "{nm:^4} "
    line-numbers-right-format = "{np:^4} "



[merge]
    conflictstyle = zdiff3
