@use "../colors" as *;
@use "mixins/material" as *;
@use "mixins/button.scss" as *;
@use 'sass:color';

.launcher {
  background-color: transparent;

  .launcher-content {
    background-color: $color-surface;
    border-radius: 1.5rem;
    min-width: 400px;
    padding: 0.5rem;

    .search {
      border-radius: 2rem;
      padding: 0.7rem;

      .material-icon {
        @include material-icon;
        color: $color-on_surface;
      }

      entry {
        all: unset;
        font-size: 1.2rem;
        font-weight: 500;
        color: $color-on-surface;
        caret-color: $color-primary;
      }
    }

    .apps-list {
      button {
        @include button;
        background-color: $color-surface;
        border-radius: 1.2rem;
        padding: 0.8rem;
        font-weight: 500;
        color: $color-on_surface;

        &:hover {
          background-color: color.adjust($color-primary, $alpha: -0.9);
        }

        &:focus {
          background-color: color.adjust($color-primary, $alpha: -0.75);
        }
      }
    }

    .command-list {

      button {
        @include button;
        background-color: $color-surface;
        border-radius: 1rem;
        padding: 0.8rem;
        font-weight: 500;

        .command-name {
          color: $color-on_surface;
        }

        .command-desc {
          color: color.adjust($color-on_surface, $alpha: -0.6);
          font-weight: 400;
        }


        &:hover {
          background-color: color.adjust($color-primary, $alpha: -0.9);
        }

        &:focus {
          background-color: color.adjust($color-primary, $alpha: -0.75);
        }
      }
    }

  }
}
