@use "sass:color";

@use "../colors" as *;
@use "mixins/material" as *;
@use "mixins/button.scss" as *;
@use "mixins/elevation.scss" as *;
@use "sass:string";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

window#bar {
  background: transparent;

  >box {
    background: $color-surface;
    padding: 4px;

    .left-side {
      margin: 0 0 0 16px;

      .workspaces {
        // padding: 0 6px;
        border-radius: 24px;
        margin: 4px;

        button {
          @include button;
          background-color: $color-secondary;
          min-width: 16px;
          min-height: 16px;
          margin: 8px 0;
          border-radius: 24px;
          transition: all 0.3s;
          padding: 0;

          &:hover {
            background-color: gtkalpha($color-primary, 0.5);
          }

          &.empty {
            background-color: $color-surface_container_highest;
          }

          &.focused {
            background-color: $color-primary;
            min-width: 32px;
          }
        }
      }

      .focused-client {
        font-weight: 500;
        color: $color-on_surface;
      }
    }

    .center {
      .clock {
        button {
          @include button;
          border-radius: 32px;
          // background-color: $color-surface_container;
          padding: 0 16px;

          label {
            color: $color-on_surface;
            font-weight: 400;
          }

          &:checked {
            background-color: $color-on_secondary_fixed_variant;

            // label {
            // color: $color-surface;
            // }
          }

          &:hover {
            background-color: color.adjust($color-surface,
                $lightness: 10%,
                $space: hsl);
          }
        }

        popover.background {
          arrow {
            all: unset;
          }

          contents {
            all: unset;
            // background-color: transparent;

            calendar {
              background-color: $color-surface_container;
              padding: 8px;
              border-radius: 24px;

              header {
                button {
                  color: $color-on_surface;
                }

                stack.month {
                  color: $color-on_surface;
                  font-weight: 500;
                }

                label.year {
                  color: $color-on_surface;
                  font-weight: 500;
                }
              }

              grid {
                label {
                  color: $color-on_surface;
                  border-radius: 8px;
                  // padding: 8px;

                  &.day-name {
                    font-weight: 600;
                  }

                  &.today {
                    background-color: $color-primary;
                    color: $color-surface;
                  }

                  &.other-month {
                    color: $color-secondary_container;
                  }
                }
              }
            }
          }
        }
      }
    }

    .right-side {
      margin: 0 16px 0 0;

      .kb-layout {
        color: $color-on_surface;

        button {
          @include button;
          // border: 1px solid wheat;
          background-color: transparent;
          font-weight: 500;
          outline: none;
          border-radius: 16px;

          .material-icon {
            @include material-icon;
          }
        }
      }

      .tray {
        button {
          @include button;
          outline: none;
          border-radius: 8px;
          margin: 4px 2px;
          padding: 2px 8px;
          background-color: transparent;

          &:hover {
            background-color: gtkalpha($color-primary, 0.3);
          }

          // &:checked {
          //   background-color: $color-primary;
          // }
        }
      }

      .bluetooth-widget {
        color: $color-on_surface;

        levelbar {
          margin: 2px 4px;
          transform: rotate(180deg);

          block {
            all: unset;
            min-width: 4px;
            border-radius: 4px;
            background-color: $color-on_secondary_fixed;

            &.filled {
              background-color: $color-on_primary_container;
            }

            &.filled.low {
              background-color: $color-error;
            }
          }
        }

        .material-icon {
          @include material-icon;
        }
      }

      .wifi {
        color: $color-on_surface;

        label {
          @include material-icon;
        }
      }

      .notification-widget {
        font-weight: normal;
        color: $color-on_surface;

        .material-icon {
          @include material-icon;
        }
      }

      .sys-button {
        button {
          @include button;
          // @include elevation(3);
          // background-color: $color-surface_container;
          border-radius: 32px;
          padding: 8px;

          &:hover {
            background-color: color.adjust($color-surface,
                $lightness: 10%,
                $space: hsl);
          }
        }

        &.active {
          button {
            @include button;
            @include elevation(3);
            border-radius: 32px;
            padding: 8px;
            background-color: $color-on_secondary_fixed_variant;
          }
        }
      }

      .battery {
        color: color.adjust($color-surface, $lightness: 10%, $space: hsl);
        // color: $color-on_surface;
        font-weight: 700;


        progressbar {
          trough {
            all: unset;
            background-color: gtkalpha($color-on_surface, 0.7);
            min-height: 24px;
            min-width: 3rem;
            border-radius: 16px;

            progress {
              all: unset;
              min-height: 24px;
              background-color: $color-on_primary_container;
              border-radius: 6px;
            }
          }

          // &.charging {
          //   trough {
          //     progress {
          //       background-color: #1dcc34;
          //     }
          //   }
          // }
        }

        .percentage-label {
          .bolt-icon {
            @include material-icon(20px);
            font-weight: 900;
          }
        }
      }
    }
  }
}
