@use "./colors" as *;
@use "mixins/material" as *;
@use "sass:string";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

window#bar {
  background: transparent;

  > box {
    background: $color-surface;
    padding: 4px;

    .left-side {
      margin: 0 0 0 16px;

      .focused-client {
        font-weight: 500;
      }
    }

    .center {
      .workspaces {
        background-color: $color-surface_container;
        color: $color-on_surface;
        padding: 0 6px;
        border-radius: 24px;

        button {
          all: unset;
          // padding: 0px 8px;
          min-width: 28px;
          margin: 4px 0;
          border-radius: 24px;
          font-weight: 500;
          transition: all 0.2s;

          &:hover {
            background-color: gtkalpha($color-primary, 0.5);
          }

          &.empty {
            color: gtkalpha($color-on_surface, 0.5);
          }
        }

        .focused {
          color: $color-surface;
          background-color: $color-primary;

          &.empty {
            color: $color-surface;
          }
        }
      }
    }

    .right-side {
      margin: 0 16px 0 0;

      .kb-layout {
        color: $color-on_surface;

        button {
          background-color: $color-surface_container;
          font-weight: normal;
          outline: none;
          border-radius: 24px 8px 8px 24px;

          .material-icon {
            @include material-icon(24px);
          }
        }
      }

      .tray {
        button {
          outline: none;
          border-radius: 8px;
          margin: 4px 2px;
          padding: 2px 8px;
          background-color: transparent;

          &:hover {
            background-color: gtkalpha($color-primary, 0.3);
          }

          // &:checked {
          //   background-color: $color-primary;
          // }
        }
      }

      .bluetooth-widget {
        // margin: 6px;
        color: $color-on_surface;

        levelbar {
          transform: rotate(180deg);

          block {
            min-width: 4px;
            border-radius: 4px;

            &.filled {
              background-color: $color-primary;
            }

            &.filled.low {
              background-color: $color-error;
            }
          }
        }

        .material-icon {
          @include material-icon(24px);
        }
      }

      .wifi {
        color: $color-on_surface;

        label {
          @include material-icon;
        }
      }

      .battery {
        color: $color-on_surface;
        font-weight: 500;
      }

      .common-button {
        button {
          outline: none;
          border-radius: 8px;
        }
      }

      .notification-widget {
        font-weight: normal;
        .material-icon {
          @include material-icon;
        }
      }

      .clock {
        button {
          background-color: $color-surface_container;
          border-radius: 8px 20px 20px 8px;
          outline: none;

          label {
            color: $color-on_surface;
            font-weight: 500;
          }

          &:checked {
            background-color: $color-primary;

            label {
              color: $color-surface;
            }
          }
        }
      }
    }
  }
}
