@use "colors" as *;

.osd {
  background-color: $color-surface;
  border-radius: 24px;
  padding: 16px;
  margin: 20px 0;

  progressbar {
    trough {
      min-height: 12px;

      progress {
        min-height: 12px;
        background-color: $color-primary;
      }

    }
  }

}
