@use "colors" as *;
@use "mixins/material.scss" as *;

.osd {
  background-color: transparent;

  .osd-content {
    background-color: $color-surface;
    border-radius: 24px;
    padding: 16px;
    margin: 20px 0;

    .icon {
      @include material-icon
    }

    progressbar {
      trough {
        min-height: 12px;

        progress {
          min-height: 12px;
          background-color: $color-primary;
        }

      }
    }

  }
}

