@use "./colors" as *;
@use "mixins/material.scss" as *;
@use "mixins/button.scss" as *;

window.powermenu {
  .powermenu-content {
    background-color: rgba($color-surface, $alpha: 1);
    border-radius: 24px;
    box-shadow: none;
    padding: 24px;

    button {
      @include button;
      background-color: $color-surface_container_high;
      color: $color-on_surface;
      border-radius: 16px;
      margin: 0 6px;
      padding: 16px;
      transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
        transform 0.1s ease;

      &:hover {
        background-color: $color-primary_container;
        transform: scale(1.03);
      }

      &:focus {
        background-color: $color-primary;
        border-radius: 24px;
        outline: none;
        color: $color-on_primary;
        box-shadow: 0 0 10px 3px rgba($color-primary, 0.35);
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.97);
      }

      .material-icon {
        @include material-icon(56px);
      }

      .button-name {
        font-weight: 500;
        font-size: 0.9rem;
      }
    }
  }
}
