@use "./colors" as *;
@use "mixins/material" as *;

window.quicksettings {
  .quicksettings-content {
    padding: 16px;
    border-radius: 24px;

    background-color: rgba($color-surface, $alpha: 0.5);
    color: $color-on_surface;

    .stack-widget {
      background-color: rgba($color-surface_container, $alpha: 0.7);
      padding: 8px;
      border-radius: 16px;
      .buttons {
        .material-icon {
          @include material-icon;
        }

        button {
          border-radius: 16px;
          &.active {
            background-color: $color-primary;
            color: $color-surface;
          }
        }
      }
    }

    // .notification-window {
    //   background-color: rgba($color-surface_container, $alpha: 0.7);
    //   border-radius: 16px;
    //   padding: 8px;
    //   .clear-button {
    //     color: $color-error;
    //     border-radius: 24px;
    //     .material-icon {
    //       @include material-icon;
    //     }
    //   }
    // }

    .sliders {
      margin: 0 0px;
      padding: 8px 16px;
      border-radius: 16px;
      background-color: rgba($color-surface_container, $alpha: 0.7);
      @include material-icon;

      scale {
        trough {
          background-color: $color-on_primary;
          slider {
            all: unset;
            outline: none;
            padding: 10px;
            background: none;
          }
          highlight {
            background-color: $color-primary;
          }

          empty {
            background-color: wheat;
          }
        }
      }
    }

    .qs-button {
      outline: none;
      border-radius: 24px;
      margin: 0 4px;
      padding: 16px 20px;
      @include material-icon($size: 32px);
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scaleX(1.1);
      }

      &.active {
        border-radius: 16px;
        background-color: $color-primary;
        color: $color-surface;
      }
      .title {
        all: unset;
        label {
          font-family: "Rubik";
          // font-weight: 500;
          font-size: 24px;
        }
      }
    }
  }
}
