@use "./colors" as *;
@use "mixins/material" as *;

window.quicksettings {
  .quicksettings-content {
    padding: 16px;
    border-radius: 24px;

    background-color: rgba($color-surface, $alpha: 1);
    color: $color-on_surface;

    .stack-widget {
      background-color: rgba($color-surface_container, $alpha: 0);
      padding: 8px;
      border-radius: 24px;
      .buttons {
        .material-icon {
          @include material-icon;
        }

        button {
          font-weight: 600;
          outline: none;
          border-radius: 16px;
          transition: all 0.2s ease-in-out;
          &.active {
            background-color: $color-primary;
            color: $color-surface;
          }
          &:hover {
            transform: scaleX(1.05);
          }
        }
      }

      .notification-window {
        // padding: 8px;
        .clear-button {
          color: $color-error;
          border-radius: 24px;
          .material-icon {
            @include material-icon;
          }
        }
      }

      .bluetooth-devices {
        .device-button {
          margin: 16px 0;
          border-radius: 16px;
          font-weight: 500;

          &.active {
            background-color: $color-primary;
            color: $color-surface;
          }
        }
      }
    }

    .sliders {
      margin: 0 0px;
      padding: 8px 16px;
      border-radius: 16px;
      background-color: rgba($color-surface_container, $alpha: 1);
      @include material-icon;

      scale {
        trough {
          background-color: $color-on_primary;
          slider {
            all: unset;
            outline: none;
            padding: 10px;
            background: none;
          }
          highlight {
            background-color: $color-primary;
          }

          empty {
            background-color: wheat;
          }
        }
      }
    }

    .qs-button {
      outline: none;
      border-radius: 24px;
      margin: 0 4px;
      padding: 16px 20px;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scaleX(1.05);
      }

      &.active {
        border-radius: 16px;
        background-color: $color-primary;
        color: $color-surface;
      }

      .material-icon {
        @include material-icon($size: 32px);
      }
      // .title {
      //   all: unset;
      //   label {
      //     font-family: "Rubik";
      //     // font-weight: 500;
      //     font-size: 24px;
      //   }
      // }
    }
  }

  .mediaplayer {
    background-color: rgba($color-surface_container, $alpha: 1);
    border-radius: 16px;
    padding: 8px;

    .cover-art {
      // border: 1px solid white;
      border-radius: 16px;
    }

    .info {
      // border: 1px solid white;
      .track {
        font-weight: 700;
      }
      .artist {
        font-weight: 400;
      }
      image {
        color: white;
        filter: grayscale(100%);
      }
    }

    .buttons {
      button {
        outline: none;
        border-radius: 16px;
        background-color: transparent;
      }
    }

    .material-icon {
      @include material-icon($size: 32px);
    }
  }
}
