@use "../colors" as *;
@use "mixins/material" as *;
@use "mixins/button.scss" as *;
@use "mixins/scale.scss" as *;
@use "mixins/elevation.scss" as *;

window.quicksettings {
  .quicksettings-content {
    padding: 16px;
    border-radius: 24px;

    background-color: rgba($color-surface, $alpha: 1);
    color: $color-on_surface;

    .header {
      border-radius: 16px;
      padding: 8px;

      .user-info {
        .user-pic {
          border-radius: 100%
        }

        .username {
          font-weight: 600;
          color: $color-on_surface;
        }

        .uptime {
          font-weight: 400;
          color: $color-on_surface;
        }
      }

      .buttons {
        margin: 8px;

        button {
          @include button;
          @include material-icon(32px);
          @include elevation(3);
          border-radius: 16px;
          padding: 8px;

          &:hover {
            background-color: $color-surface_container_high;
          }

          &:active {
            background-color: $color-surface_container_highest;
            transform: scale(1.1);
          }
        }

        .power-button {
          color: #e25c5c;
        }
      }
    }

    .sliders {
      @include material-icon;
      @include scale;
      // border: 1px solid white;
      border-radius: 16px;
      padding: 0 8px;

      scale {
        margin: 8px;

        trough {
          background-color: $color-on_secondary_fixed;

          slider {
            outline: none;
            padding: 12px;
            background: none;
          }

          highlight {
            background-color: $color-primary;
          }

          empty {
            background-color: wheat;
          }
        }
      }
    }

    .toggles {
      @include elevation(3);
      background-color: $color-surface_container;
      border-radius: 32px;
      padding: 8px;

      .qs-button {
        @include button;
        @include material-icon(28px);
        padding: 8px;
        border-radius: 32px;

        &:hover {
          background-color: $color-surface_container_high;
        }

        &.active {
          background-color: $color-primary;
          color: $color-surface;
          border-radius: 24px;
          padding: 8px 16px;
          font-family: "Material Icons";

          &:hover {
            background-color: rgba($color-primary, 0.8);
          }
        }

        &:active {
          border-radius: 16px;
        }
      }
    }

    .notification-window {
      padding: 8px;

      .header {
        .material-icon {
          @include material-icon;
        }

        font-weight: 500;

        .clear-button {
          @include button;
          @include elevation(3);
          background: $color-surface_container;
          color: $color-error;
          border-radius: 32px;
          padding: 8px 16px;

          &:hover {
            background-color: $color-surface_container_high;
          }

          &:active {
            border-radius: 16px;
            background-color: rgba($color-error, 0.3);
            transform: scale(1.1);
          }

          &:disabled {
            opacity: 0.6;
          }
        }
      }
    }
  }

  .mediaplayer {
    background-color: rgba($color-surface_container, $alpha: 1);
    border-radius: 16px;
    padding: 8px;
    color: $color-on_surface;

    .cover-art {
      // border: 1px solid white;
      border-radius: 16px;
    }

    .info {
      // border: 1px solid white;
      .track {
        font-weight: 700;
      }

      .artist {
        font-weight: 400;
      }

      image {
        color: white;
        filter: grayscale(100%);
      }
    }

    .buttons {
      button {
        outline: none;
        border-radius: 16px;
        background-color: transparent;
      }
    }

    .progress {
      progressbar {
        trough {
          progress {
            background-color: $color-on_surface;
          }
        }
      }
    }

    .material-icon {
      @include material-icon($size: 32px);
    }
  }
}
