@use "../colors.scss" as *;
@use "./mixins/material.scss" as *;
@use "./mixins/elevation.scss" as *;
@use "./mixins/button.scss" as *;
@use "sass:color";

.settings {
  background-color: $color-surface_container;

  .buttons-column {
    background-color: $color-surface_container;
    padding: 24px;

    .header {
      label {
        font-size: 1.5rem;
        color: $color-on_surface;
      }

      .fold {
        @include button;
        @include material-icon;
      }
    }

    .settings-button {
      @include button;
      background-color: $color-surface_container;
      color: $color-on_surface;
      border-radius: 28px;
      padding: 16px;

      &.active {
        background-color: color.adjust($color-primary, $alpha: -0.5, $lightness: -5%)
      }

      &:not(.active):hover {
        background-color: color.adjust($color-primary, $alpha: -0.8)
      }

      .material-icon {
        @include material-icon(32px);
      }

      .page-name {
        font-weight: 500;
        color: $color-on_surface;
      }
    }
  }

  .switch-row {
    font-weight: 500;
    font-size: 1.1rem;
    color: $color-on_surface;

    switch {
      background-color: $color-surface_container_highest;
      padding: 0.3rem;
      border-radius: 32px;
      outline: 0.15rem solid $color-outline;
      outline-offset: -0.15rem;

      slider {
        all: unset;
        border-radius: 50%;
        background-color: $color-outline;
        box-shadow: none;
        min-width: 1.2rem;
        min-height: 1.2rem;
        // outline: $color-surface_container solid 0.1875rem;
        // outline-offset: -0.125rem;
      }

      &:checked {
        background-color: $color-primary;
        outline: none;

        slider {
          background-color: $color-on_primary;
        }
      }
    }
  }

  .spin-row {
    font-weight: 500;
    font-size: 1.1rem;
    color: $color-on_surface;

    .spin-button {
      border-radius: 32px;
      padding: 4px 8px;
      background-color: $color-surface_container;
      outline: none;
      border: none;

      button {
        @include button;
        border-radius: 16px;
        padding: 8px;

        &:hover {
          background-color: $color-surface_container_highest;
        }

        &:active {
          // background-color: $color-on_secondary;
        }

        &:disabled {
          opacity: 0;
        }
      }
    }
  }

  .page {
    background-color: $color-surface;
    padding: 24px;
    margin: 12px;
    border-radius: 16px;

    .header {
      font-size: 1.6rem;
    }
  }

  .network-page {
    .wifi-ssid-box {
      background-color: $color-surface_container_high;
      padding: 24px;
      border-radius: 8px;

      font-weight: 500;

      &:first-child {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
      }

      &:last-child {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
      }
    }
  }
}
